@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>


<p>We won't sell your pet's information to the Russian's</p>

<div class="container">
    
    <div class="row">


    </div>
    
</div>

