@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>


<p>Pictured below are our thoroughly vetted security experts</p>

<div class="container">
    
    <div class="row">

        <img src="~/images/goldenPups.jpeg"alt="Golden Puppies" />

    </div>
    
</div>

